
<!doctype html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link rel="stylesheet" href="CSS/Style.css">
  <meta charset="utf-8">
  <title>Home</title>
</head>

<body bgcolor="#1E1A1A">
<div style="margin-top: 1%;margin-left: 1%">
  <a href="Home.html">
    <img src="../../Desktop/jj.png" height="58px" width="281">
  </a>
</div>
<div style ="display: flex; margin-right: 80%; align-items: center">
  <div>
    <button href="Home.html" style="color: azure">VAGAS</button>
  </div>
  <div>
    <button href="Index.html" style="color: azure">CADASTRAR VAGA</button>
  </div>
</div>
<table class="container">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Local</th>
    <th>Data</th>
    <th>Horario</th>
    <th>Deletar</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="vaga : ${vagas}">
    <td><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}"><span th:text="${evento.nome}"></span></a></td>
    <td><span th:text="${evento.local}"></span></td>
    <td><span th:text="${evento.data}"></span></td>
    <td><span th:text="${evento.horario}"></span></td>
    <td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('EC#deletarEvento').arg(0, evento.codigo)).build()}"><i class="material-icons left">delete</i></a></td>
  </tr>
  </tbody>

</table>


</body>
</html>